<h1>Football Teams</h1>

<% if @teams.any? %>
  <ul>
    <% @teams.each do |team| %>
      <li>
        <a href="<%= team_path(team) %>"><%= team.name %> - <%= team.country %></a> 
        (<a href="<%= league_path(team.league) %>"><%= team.league.name %></a>)
      </li>
    <% end %>
  </ul>

    <!-- Pagination Controls -->
  <%= paginate @teams %>

  
<% else %>
  <p>No teams available.</p>
<% end %>

<hr>
<a href="<%= leagues_path %>" class="btn btn-primary">⬅ Back to Leagues</a>
