<h1>Teams#show</h1>
<p>Find me in app/views/teams/show.html.erb</p>
<h1><%= @team.name %></h1>
<p>Country: <%= @team.country %></p>
<p>Founded: <%= @team.founded_year %></p>
<h2>Players in this Team</h2>
<ul>
  <% @team.players.each do |player| %>
    <li><a href="<%= player_path(player) %>"><%= player.name %> - <%= player.position %></a></li>
  <% end %>
</ul>
